body{
    background-color: rgba(170, 109, 228, 0.432);
}
h1{
    color: rgb(102, 102, 204);
    font-size: 60px;
    text-align: center;
}
p{
    color: rgba(106, 28, 179, 0.5);
    font-size: 30px;
    text-align: center;
}
 img{ 
    width: 20%;
    margin-left: 610px;
    border: 10px solid rgb(78, 15, 104);
}
.imghtml{
    width:10%;
    margin-left: 500px;
    border: 10px solid rgb(123, 57, 167);
}